<app-header titulo="MENÚ PRINCIPAL"></app-header>


<ion-content [fullscreen]="true">
  
  <ion-card>

    <ion-card-header>
      <ion-card-title><b>*Nombre del empleado*</b></ion-card-title>
      <ion-card-subtitle><b>99.999.999-9</b></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title><b>Comuna actual:</b></ion-card-title>
      <ion-card-subtitle><b>*Comuna here*</b></ion-card-subtitle>
    </ion-card-content>

  </ion-card>


  <ion-card style="--background: var(--camello-primary)" (click)="IniciarSistema()">
    
    <ion-card-header>
      <ion-card-title style="color: white;">INICIAR SISTEMA</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: white;">
      Al iniciar el sistema deberá rellenar casillas para confirmar su información.
    </ion-card-content>
  </ion-card>

  <ion-card style="--background: green" (click)="verMapa()">
    
    <ion-card-header>
      <ion-card-title style="color: white;">VER EL MAPA</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: white;">
      Revisar tu punto de localización actual en el sistema.
    </ion-card-content>
  </ion-card>


  <ion-card color="danger" style="cursor: pointer;" id="logout-button">
    <ion-card-header>
      <ion-card-title style="color: white;">CERRAR SESIÓN</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: white;">
      Para salir del sistema, presione este botón.
    </ion-card-content>
    
  </ion-card>



<ion-alert trigger="logout-button" header="¿Desea cerrar sesión?" [buttons]="alertButtons"></ion-alert>

</ion-content>

<app-footer titulo="● En línea" color="green"></app-footer>
