<app-header titulo="Datos de mi perfil"></app-header>

<ion-content [fullscreen]="true">

    <ion-card *ngIf="userData">
        <ion-card-header>
            
          <ion-card-title>Bienvenido, {{ userData.pnombre }} {{ userData.papellido }}</ion-card-title>
        
        </ion-card-header>
      
        <ion-card-content>

            <div>
                <p>Nombre del empleado: </p>
                <h2 style="color: black;">{{ userData?.pnombre }} {{ userData?.snombre }} {{ userData?.papellido }} {{ userData?.mapellido }}</h2> 
            </div>

            <div>
                <p>RUT: </p>
                <h2 style="color: black;"> {{ formatRut(userData?.rut_empleado) }} </h2>
            </div>
              
            <div>
                <p>Dirección: </p>
                <h2 style="color: black;">{{ userData?.direccion_sucursal }}</h2> 
            </div>

            <div>
                <p>Teléfono: </p>
                <h2 style="color: black;">{{ userData?.telefono }}</h2>
            </div>
              
            <div>
                <p>Correo: </p>
                <h2 style="color: black;">{{ userData?.correo}}</h2> 
            </div>

            <div>
                <p>Sucursal: </p>
                <h2 style="color: black;">{{ userData?.direccion_sucursal}} , {{ userData?.comuna_sucursal}}</h2> 
            </div>


        </ion-card-content>






      </ion-card>

      
  


</ion-content>

<app-footer-routing [titulo]="'Regresar'" [color]="'red'" [enlaceCustom]="'/sistema/mi-perfil-options'"></app-footer-routing>