<app-header titulo="CAMBIAR CONTRASEÑA"></app-header>

<ion-content class="disabled_scroll" [fullscreen]="true">

  <ion-list>

    <ion-item lines="none">

      <p class="info-text">
        Ingrese el código de verificación que
        fue enviado a su correo
      </p>

    </ion-item>


    <ion-item>

      <ion-label position="floating">Ingrese su código</ion-label>
      <ion-input></ion-input>
      
    </ion-item>
    
    
  </ion-list>

  <ion-list class="ion-text-center">

    <ion-button style="--background: var(--camello-primary)" size="default" class="button-margin" shape="round" routerLink="/sistema/homepage">Cambiar contraseña</ion-button>
    
    <p id="exit_form_recover" style="color:red; cursor: pointer;">Cancelar</p>

  </ion-list>

  <ion-alert trigger="exit_form_recover" header="¿Estás seguro de que quieres salir? El proceso de cambiar contraseña se cancelará." [buttons]="alertButtons"></ion-alert>

</ion-content>
