<app-header titulo="MENÚ REPARTIDOR"></app-header>


<ion-content class="disabled_scroll" [fullscreen]="true">

  <ion-card routerLink="/sistema/lista_pedidos">
    <ion-card-header>
      <ion-card-title>Lista de pedidos <ion-icon name="fast-food"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí se encontrarán todos los pedidos disponbiles hasta el momento, también se podrá
      consultar los pedidos ya entregados.
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/sistema/mi-perfil-options">
    <ion-card-header>
      <ion-card-title>Mi perfil <ion-icon name="person-circle"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí puedes consultar información sobre tu perfil.
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/sistema/historial_pedidos"> 
    <ion-card-header>
      <ion-card-title>Historial de pedidos <ion-icon name="time"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Aquí puedes consultar todos los pedidos que hayas realizado.
    </ion-card-content>

  </ion-card>

</ion-content>

<app-footer-routing [titulo]="'Salir al menú principal'" [color]="'red'" [enlaceCustom]="'/sistema/menu_principal'"></app-footer-routing>
