
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
  }

.rounded-image {
    border-radius: 50%;  
    width: 190px;
    height: 150px; 
  }
  