<app-header-tracking titulo="FINALIZAR PEDIDO {{ pedido?.pedido }}"></app-header-tracking>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-content>

      <h1 class="ion-text-center">Finalización de Pedido</h1>

      <ion-row>
        <ion-col>
          <h1>Orden {{ pedido?.id }}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1>Estado del pedido: {{ pedido?.estado }}</h1>
        </ion-col>
      </ion-row>

      <ion-button style="--background: var(--camello-primary)" expand="full" (click)="finalizarPedido(pedido.id)">
        Finalizar Pedido
      </ion-button>

      <ion-button expand="full" color="danger" (click)="salirForm()">
        Salir al menú principal
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>

