<app-header titulo="ANTES DE EMPEZAR"></app-header>

<ion-content [fullscreen]="true">


  <ion-item lines="none">

    <p class="info-text">
      Antes de empezar
      confirme las siguientes opciones:
    </p>

  </ion-item>

  <ion-list class="ion-text-center">

    <ion-item lines="none">
      <ion-checkbox>Verificar estado del vehículo</ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox>Estoy usando ropa adecuada</ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox  style="font-size: small;">llevo bolsa térmica para los productos</ion-checkbox>
    </ion-item>
    
    <ion-button style="--background: var(--camello-primary)" class="button-margin" routerLink="/sistema/menu_repa">Enviar</ion-button>
  
  </ion-list>

</ion-content>