<app-header titulo="ANTES DE EMPEZAR"></app-header>

<ion-content [fullscreen]="true">


  <form #myForm="ngForm">
    
    <ion-item lines="none">
      <p class="ion-text-center">
        Antes de empezar, confirme las siguientes opciones:
      </p>
    </ion-item>
  
    <ion-list class="ion-text-center">
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="isChecked1" name="check1">Confirmar comuna: <b>*Comuna here*</b></ion-checkbox>
      </ion-item>
  
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="isChecked2" name="check2">Verificar estado del vehículo</ion-checkbox>
      </ion-item>
  
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="isChecked3" name="check3">Estoy usando ropa adecuada</ion-checkbox>
      </ion-item>


    </ion-list>

    <ion-list class="ion-text-center">

      <ion-button shape="round" style="--background: var(--camello-primary)" [disabled]="!isChecked1 || !isChecked2 || !isChecked3" (click)="verificarCasillas()">Confirmar</ion-button>

      <p (click)="cancelarEntrada()" style="color:red; cursor: pointer;">Cancelar</p>
    
    </ion-list>

  </form>


</ion-content>


<app-footer titulo="Antes de empezar" color="grey"></app-footer>