.titulos_repa {
    text-align: center;
    font-size: 30px; 
  }

.centered-text {
  text-align: center;
}

.info-text{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}


  

.exit_pass {
  color:#BB0C0C;
}

.button-margin {
  margin-top: 40px; /* Bajar el botón y las cosas locas */
  width: 170px;
}
