<ion-header [translucent]="true" *ngIf="!isLoading">
  <ion-toolbar style="height: 75px; display: flex; align-items: center; --background: var(--camello-primary)">
    <ion-title class="titulos_repa" style="font-family: 'BebasNeue', sans-serif;" color="light">RECUPERAR
      CONTRASEÑA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-loading-component *ngIf="isLoading"></app-loading-component>
  <div *ngIf="!isLoading">
    <form [formGroup]="form">
      <!-- Step one -->
      <div id="1" *ngIf="section === 1">
        <ion-list>
          <ion-item lines="none">
            <p class="info-text">
              Por favor, escriba su correo electrónico. Recibirás un código
              para crear la nueva contraseña.
            </p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo electrónico:</ion-label>
            <ion-input formControlName="email_recuperacion"></ion-input>
          </ion-item>
        </ion-list>
  
        <ion-list class="ion-text-center">
          <ion-button size="default" (click)="enviarCodigo()" [disabled]="!form.get('email_recuperacion')!.valid">Obtener un código</ion-button>
          <p class="centered-text exit_pass" routerLink="/login">Cancelar</p>
        </ion-list>
      </div>
  
      <!-- Step two -->
      <div id="2" *ngIf="section === 2">
        <ion-list>
          <ion-item lines="none">
            <p class="info-text">
              Por favor, escriba el codigo de recuperacion recibido en su correo electronico
            </p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Codigo de recuperacion</ion-label>
            <ion-input formControlName="codigo_recuperacion"></ion-input>
          </ion-item>
        </ion-list>
  
        <ion-list class="ion-text-center">
          <ion-button size="default" maxlength="4" type="number" (click)="validarCodigo()" [disabled]="!form.get('codigo_recuperacion')!.valid">Verificar codigo</ion-button>
          <p class="centered-text exit_pass" routerLink="/login">Cancelar</p>
        </ion-list>
      </div>
  
      <!-- Step three -->
      <div id="3" *ngIf="section === 3">
        <ion-list>
          <ion-item lines="none">
            <p class="info-text">
              Escriba la nueva contraseña
            </p>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" labelPlacement="floating" formControlName="password_1" type="password"></ion-input>
            
          </ion-item>
          <ion-item>
            <ion-input label="Repetir contraseña" labelPlacement="floating" formControlName="password_2" type="password"></ion-input>
          </ion-item>
        </ion-list>
  
        <ion-list class="ion-text-center">
          <ion-button size="default" (click)="onSubmit()"  class="">Cambiar contraseña</ion-button>
          <p class="centered-text exit_pass" routerLink="/login">Cancelar</p>
        </ion-list>
      </div>
    </form>
  </div>

</ion-content>