<app-header titulo="LISTA DE PEDIDOS"></app-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label>Mostrar</ion-label>
    <ion-select placeholder="Seleccionar" [(ngModel)]="tipoPedido">
      <ion-select-option value="disponibles">Pedidos disponibles</ion-select-option>
      <ion-select-option value="reparto">Pedidos en reparto</ion-select-option>
      <ion-select-option value="completados">Pedidos completados</ion-select-option>
      <ion-select-option value="todos">Todos los pedidos</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let pedido of pedidos" (click)="verDetallePedido(pedido.id)">
    <ion-card-content class="horizontal-card" *ngIf="mostrarPedido(pedido)">
      <div class="left">
        <p>Fecha del Producto</p>
        <p style="color: black;">{{ pedido.fecha }}</p>
      </div>
      <div class="center">
        <p>Orden</p>
        <p [ngStyle]="{'color': getTextColor(pedido.estado)}">{{ pedido.pedido }}</p>
      </div>
      <div class="right">
        <p>Estado</p>
        <p [ngStyle]="{'color': getTextColor(pedido.estado)}">{{ pedido.estado }}</p>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>

<app-footer-routing [titulo]="'Regresar'" [color]="'red'" [enlaceCustom]="'/sistema/menu_repa'"></app-footer-routing>