<app-header titulo="INICIAR SESIÓN"></app-header>

<ion-content [fullscreen]="true">


  <ion-list>

    <ion-item>
      <ion-label position="floating">Ingrese su RUT</ion-label>
      <ion-input maxlength="12" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Ingrese su contraseña</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Mostrar contraseña</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  
  </ion-list>
  
  <ion-list class="ion-text-center">

    <ion-button style="--background: var(--camello-primary)" size="default" class="button-margin" routerLink="/sistema/menu_principal">Iniciar sesión</ion-button>

    <p style="color:blue; cursor: pointer;" routerLink="/sistema/recover_password">Olvidé la contraseña</p>

    <p routerLink="/sistema/homepage" style="color:red; cursor: pointer;">Regresar</p>
  
  </ion-list>

</ion-content>
