<app-header titulo="INICIAR SESIÓN"></app-header>

<!-- <ion-content [fullscreen]="true">

  <ion-list>

    <ion-item>
      <ion-label position="floating">Ingrese su RUT</ion-label>
      <ion-input  [(ngModel)]="rut" type="tel" (ngModelChange)="formatRut($event)" maxlength="12"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Ingrese su contraseña</ion-label>
      <ion-input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Mostrar contraseña</ion-label>
      <ion-checkbox [(ngModel)]="showPassword"></ion-checkbox>
    </ion-item>
  
  </ion-list>
  
  <ion-list class="ion-text-center">

    <ion-button shape="round" style="--background: var(--camello-primary)" size="default" class="button-margin"  (click)="iniciarSesion()">Iniciar sesión</ion-button>

    <p style="color:blue; cursor: pointer;" routerLink="/sistema/recover_password">Olvidé la contraseña</p>

    <p routerLink="/sistema/homepage" style="color:red; cursor: pointer;">Regresar</p>
  
  </ion-list>

  
</ion-content> fueron wenos tiempos siono --> 


<ion-content>

  <app-login-page-base route="sistema/menu_principal" [canRegister]="false" [authWithRut]="true"></app-login-page-base>


</ion-content>