.camel-img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: 10; /* Para enviar la imagen al fondo */
    transform: scale(0.4) rotate(-10deg);; /* Reducir a la mitad de tamaño */
  }
  
  .camel {
    width: 100%;
    height: 100%;
  }
  