.contenedor_img{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor_btn{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.camelloLogo{
    background: lightblue;
    border-radius: 50%;
    width: 250px;
    overflow: hidden;
}