<app-header [titulo]="change_header === 1 ? 'Camellos Food (logueado)' : 'Camellos Food (Desconectado)'"></app-header>

<ion-content class="disabled_scroll" [fullscreen]="true">
  <google-map
    height="100%"
    width="100%"
    style="background: transparent;"
    [center]="center">
  </google-map>
</ion-content>

<app-footer-routing [titulo]="change_header === 1 ? 'Menú principal' : 'Iniciar sesión'" [color]="change_header == 1 ? '004AAD' : 'black'" [enlaceCustom]="change_header === 1 ? '/sistema/menu_principal' : '/sistema/login'"></app-footer-routing>
