<app-header titulo="CAMELLO'S REPARTIDOR V2"></app-header>

<ion-content [fullscreen]="true">
  
  <div class="contenedor_img">
    <ion-img class="camelloLogo" src="assets/img/camelloLogo.jpg"></ion-img>
  </div>
  
  <div class="contenedor_btn">
      <ion-button shape="round" style="--background: var(--camello-primary)" size="default" class="button-margin" routerLink="/sistema/login">Iniciar sesión</ion-button>
  </div>

  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align:center;"><FONT color="black">● Estás desconectado </FONT></ion-title>
  </ion-toolbar>
</ion-footer>


