<app-header titulo="CAMELLO'S REPARTIDOR V2"></app-header>

<ion-content [fullscreen]="true">
  
  <google-map
  height="100%"
  width="100%"
  style="background: transparent;"
  [center]="center">
  </google-map>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <ion-button shape="round" style="--background: var(--camello-primary)" size="default" class="button-margin" routerLink="/sistema/login">Iniciar sesión</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>


